h1{
margin-top:60px;
margin-bottom:0px;
margin-left:300px;
}


.bg{
background:url("/static/images/addmember3.jpg");
background-size:cover;
}

.tbl{
margin-top:40px;
margin-left:290px;
}

input[type=text],[type=number],[type=submit]{
margin-bottom:10px;
border-radius:10px;
}
