body{
background:url("/static/images/seefamily.jpg");
background-repeat:no repeat;
background-size:cover;
}

h2{
margin-bottom:40px;
font-weight:bold;
font-style:italic;
}

h1{
color:red;
font-weight:bold;
font-style:italic;
}

label{
font-weight:bold;
margin-bottom:40px;
}

select{
border-radius:7px;
}

input[type=submit]{
color:white;
background:blue;
border-radius:7px;
}