{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static '/css/login.css' %}" rel="stylesheet">
</head>

<body class="bg" align="center">

<div class="div1">

  <h1 class="h2" ><i><b>Welcome To Login Page</b></i></h1>

  <form action="log_data" method="post">
    {% csrf_token %}
    {% if data == 'failed' %}
        <div class="div2">
          Please Provide valid Credentials
        </div>
    {% endif %}

    <div>
      <table align="center" width="700">
        <tr>
          <td><input type="text" name="txtN" placeholder="UserName" ></td>
        </tr>
        <tr>
          <td><input type="password" name="txtP" placeholder="Password" ></td>
        </tr>
        <tr>
          <td align="center">
            <input type="submit" name="sub" value="login">
          </td>
        </tr>
        <tr>
          <td class="reg"> <b> Not A Member? </b> <a href="{% url 'register' %}" class="reglink"> <b>Register Now </b> </a> </td>
        </tr>
      </table>
    </div>
  </form>
</div>
</body>
</html>