{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<link href="{% static '/css/month_year_total.css' %}" rel="stylesheet">
<div class="container" align="center">
    <h2>Details Of Monthly Expenses</h2>
    <form action="get_monthly_records" method="post">
        {% csrf_token %}

        <label>Year:</label>
        <select name="year">
            <option>{{ start_year }}</option>
            {% for year in years %}
                <option>{{ year }}</option>
            {% endfor %}
        </select>

        <label>Month:</label>
        <select name="month">
            <option>{{ start_month }}</option>
            {% for month in months %}
                <option>{{ month }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Filter">

    </form>
</div>

<div class="container">

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Purpose</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>

        {% for i in records %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.purpose }}</td>
                <td>{{ i.expense }}</td>
                <td>{{ i.date }}</td>
            </tr>
        {% endfor %}
    </table>
    <h1>{{ norecords }}</h1>
</div>

{% endblock %}
