{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="{% static '/css/register.css' %} " rel="stylesheet">
</head>
<body class="bg">
<div class="div1">
  <h1 align="center">please register here</h1>
<form action="register_data" method="post">
  {% csrf_token %}

  <table align="center">
    <tr>
      <td><input type="text" name="txtN" placeholder="UserName"></td>
    </tr>
    <tr>
      <td><input type="text" name="txtM" placeholder="Email"></td>
    </tr>
    <tr>
      <td><input type="password" name="txtP" placeholder="Password"></td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="submit" name="sub" value="Register" >
      </td>
    </tr>
  </table>
</form>
</div>
</body>
</html>