{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<link href="{% static '/css/see_family_exp.css' %}" rel="stylesheet">
<body class="bg">
<h2 align="center" class="h2"><i><b>Family expense details</b></i></h2>

<table  class="table">
    <tr>
        <th>Name</th>
        <th>Expense</th>
        <th>purpose</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>

    {% for i in data %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.expense }}</td>
            <td>{{ i.purpose }}</td>
            <td>{{ i.date }}</td>
            <td>
                <a href="{% url 'updateexpense' i.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'deleteExp' i.id %}">Remove</a>
            </td>
        </tr>
    {% endfor %}

</table>
</body>

{% endblock %}