{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<link href="{% static '/css/update_expense.css' %}" rel="stylesheet">
<body class="bg" >


<h1 class="h1" style="margin-left:600px; color:black; margin-top:100px" ><i><b>Update Expense</b></i> </h1>


<form  method="post">
    {% csrf_token %}
    <table align="center" class="tbl" style="margin-top:20px;">
         <tr>
            <td><input type="text" name="txtN" value="{{ data.name }}"></td>
        </tr>
        <tr>
            <td><input type="text" name="txtPRPS" value="{{ data.purpose }}"></td>
        </tr>
        <tr>
            <td><input type="number" name="txtEXP" value="{{ data.expense }}" min="0"></td>
        </tr>
        <tr>
            <td><input type="datetime-local" name="txtD" value="{{ data.date }}"></td>
        </tr>
        <tr>
            <td align="center"><input type="submit" value="Update expense"></td>
        </tr>
    </table>
</form>
</body>

{% endblock %}